<% if session[:signed_in] %>
	<div class="summary">
      <div class="checkout-banner">
        <h1>BOXABLE CHECKOUT</h1>
      </div>
      <div class="checkout-content">
          <h3>Order Number: <%= @latest_order.id  %></h3>
                    <hr>

        <table class="box-info">
          <tr>
            <th>Item</th>
            <th>Quantity</th>
          </tr>
            <% @items_ordered.each do |item, quantity| %>
          <tr>
            <td><%= item %><td>
            <td><%= quantity %></td>
          </tr>
        <% end %>
        <h4>Total Amount: $<%= @total%></h4>
       </table>
       <div class="delivery_form">
       <%= form_for(:box, :url => deliver_path(:box), :html => {:id => "delivery_info"}) do |f| %>
       <%= f.hidden_field :order_id, :value => @latest_order.id%>
        <label for="firstName">First name</label>
        <%= f.text_field :first_name, placeholder: "Sarah", class: "form-control" %>
        <label for="lastName">Last name</label>
        <%= f.text_field :last_name, placeholder: "Smith", class: "form-control" %>
        <label for="address">Street Address</label>
        <%= f.text_field :address, class: "form-control" %>
        <label for="city">City</label>
        <%= f.text_field :city, class: "form-control" %>
        <label for="state">State</label>
        <%= f.text_field :state, class: "form-control" %>
        <label for="zipcode">Zip code</label>
        <%= f.text_field :zipcode, class: "form-control" %>
      <% end %>
      </div>
      <div class="payment-button">
        <%= render ("charges/new") %>
      </div>
      </div>

      </div>

<% else %>
	sign_in
<% end %>






