<% user_signed_in = false %>
<% user_signed_in = true if signed_in? %>

<%= react_component ("store"), signedIn: user_signed_in %>
<div class="modal-overlay">
	<div class="sign-in-up-modal">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<div class="sign-up-container">
			<h2>Sign Up To Checkout</h2>

			<%= form_for(:user, :url => registration_path(:user), html: {class: "sign-up-form"}) do |f| %>
				<ul id="registration_errors"></ul>
				<label for="exampleInputEmail1">Email address</label>
				<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
		    <label for="exampleInputPassword1">Password</label>
				<%= f.password_field :password, placeholder: "Must be longer than 8 characters", class: "form-control" %>
				<%= f.submit :submit, class: "btn btn-default" %>
			<% end %>


			<h3>Or</h3>
			<a href="#" id="sign-in">Sign In</a>
		</div>

		<div class="sign-in-container">
			<h2>Sign In To Checkout</h2>


			<%= form_for(:user, :url => session_path(:user), html: {class: "sign-in-form"}) do |f|%>
			<label for="exampleInputEmail1">Email address</label>
			<%= f.email_field :email, placeholder: "Email", class: "form-control" %>
			<label for="exampleInputPassword1">Password</label>
				<%= f.password_field :password, placeholder: "Enter your password", class: "form-control" %>
				<%= f.submit :submit, class: "btn btn-default" %>
			<% end %>
<!-- 
			<form class="sign-in-form">

				<div class="form-group">
				    <label for="exampleInputEmail1">Email address</label>
				    <input type="email" class="form-control"  placeholder="Enter email">
				  </div>
				  <div class="form-group">
				    <label for="exampleInputPassword1">Password</label>
				    <input type="password" class="form-control" placeholder="Must be longer than 8 characters">
				  </div>
				<button type="submit" class="btn btn-default">Sign In</button>
			</form> -->
			<h3>Or</h3>
			<a href="#" id="sign-up">Sign Up</a>
		</div>


	</div>
</div>

<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">About Boxable</h3>
      </div>
      <div class="modal-body about-body">
	<p>Nothing exhibits more care about someone you love than sending a care package.</p>
	<p>Rather than dealing with the hassle of shopping, assembling and shipping, Boxable gives you the ability to customize your care package by selecting from a number of available items in our store, write a short note to be included in the box, and deliver the care package to friends and family. </p>
	<p>We are proud of the goods and snacks that we carry in our online store - healthy, delicious, and homey. No more waiting in long lines at the post office or debating what to put in the box. Let Boxable handle the logistics, and we will let you express your love and care.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn checkout-button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>